<section data-ng-controller="ContactsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Contact</h1>
	</div>
	<div class="col-md-12">
		<form name="contactForm" role="form" class="form-horizontal" data-ng-submit="update(contactForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': contactForm.name.$dirty && contactForm.name.$invalid }">
					<label class="col-sm-2 control-label" for="name">Name</label>
					<div class="col-sm-10 controls">
						<input name="name" type="text" data-ng-model="contact.name" id="name" class="form-control" placeholder="Name" required>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error': contactForm.email.$dirty && contactForm.email.$invalid }">
					<label class="col-sm-2 control-label" for="email">Email</label>
					<div class="col-sm-10 controls" data-ng-bind="contact.email">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="company">Company</label>
					<div class="col-sm-10 controls">
						<input name="company" type="text" data-ng-model="contact.company" id="company" class="form-control" placeholder="Company" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="company">Company</label>
					<div class="col-sm-10 controls">
						<select ng-model="contact.lang" ng-options="lang.name for lang in langs" name="lang" id="lang"></select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
			      		<button type="submit" class="btn btn-default">Save</button>
			    	</div>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>